#alertBox {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    background: red;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    z-index: 9999;
    display: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
